.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 8rem;
  border-color: black;
  border-style: solid;
  padding: 2rem;
  box-shadow: burlywood 0.5rem 0.5rem 1rem;
}

label {
  font-weight: bold;
}

.game-preview {
  margin: 1rem;
}
